<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Obstacle | IntelliGame</title>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/all-rounds.css" />
    <link rel="stylesheet" href="/styles/obstacle.css" />
    <link
      rel="stylesheet"
      href="/styles/obstacle-technician.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="icon" href="/images/favicon1.ico" type="images/x-icon" />
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header class="header-technician">
      <a
        href="/technician-management"
        class="technician-management-home"
        id="home"
        >Management Page</a
      >
      <a
        class="quit score"
        href="/technician-score-management"
        >Score Management</a
      >
      <a class="quit" href="/">Quit Game</a>
    </header>
    <main>
      <h1>Round 2: Obstacle</h1>

      <!-- Just for testing -->
      <!--<section class="test-nav">
        <a href="/warmup/warmup-player.html">Back</a>
        <a href="/acceleration/acceleration-player.html">Next</a>
      </section>-->
      <section class="question-score-timer tech">
        <section class="image">
          <img src="/images/challenge.jpg" />
          <ul>
          </ul>
        </section>
        <section class="word">
          <p>The obstacle has 5 letters</p>
          <ul>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li>`<p class="no">1</p></li>
          </ul>
          <ul>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li>`<p class="no">2</p></li>
          </ul>
          <ul>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li>`<p class="no">3</p></li>
          </ul>
          <ul>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li>`<p class="no">4</p></li>
          </ul>
        </section>
      </section>

      <section id="answer-record">
        <p class="question-bar">Question</p>
        <p class="answer-bar">Answer</p>
      </section>

      <!--<section>
        <button class="answer-btn">Press to answer</button>
      </section>-->

      <div class="player-score" id="player-score-warmup-technician">
        <div class="name-and-score">
          <h3>Nhat Minh</h3>
          <p>1000</p>
          <a class="correct">Correct</a>
          <a class="incorrect">Incorrect</a>
          <a class="bonus5">+5</a>
          <a class="bell"><i class="fa-solid fa-bell"></i></a>
        </div>
        <div class="name-and-score">
          <h3>Huy Tung</h3>
          <p>1000</p>
          <a class="correct">Correct</a>
          <a class="incorrect">Incorrect</a>
          <a class="bonus5">+5</a>
          <a class="bell"><i class="fa-solid fa-bell-slash"></i></a>
        </div>
        <div class="name-and-score">
          <h3>Minh Nhat</h3>
          <p>1000</p>
          <a class="correct">Correct</a>
          <a class="incorrect">Incorrect</a>
          <a class="bonus5">+5</a>
          <a class="bell"><i class="fa-solid fa-bell"></i></a>
        </div>
        <div class="name-and-score">
          <h3>Tung Huy</h3>
          <p>1000</p>
          <a class="correct">Correct</a>
          <a class="incorrect">Incorrect</a>
          <a class="bonus5">+5</a>
          <a class="bell"><i class="fa-solid fa-bell"></i></a>
        </div>
      </div>

      <ul class="management-buttons">
        <li>
          <a href="/warmup-technician">Warmup</a>
        </li>
        <li>
          <a href="/obstacle-technician"
            >Obstacle</a
          >
        </li>
        <li>
          <a
            href="/acceleration-technician"
            >Acceleration</a
          >
        </li>
        <li>
          <a href="/finish-technician">Finish</a>
        </li>
      </ul>

      <!--<ol class="answer-obstacle">
        <li><p>AB</p></li>
        <li><p>CD</p></li>
        <li><p>EF</p></li>
        <li><p>GH</p></li>
      </ol>-->
    </main>
  </body>
</html>
