<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Obstacle | IntelliGame</title>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/all-rounds.css" />
    <link rel="stylesheet" href="/styles/obstacle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon1.ico" type="images/x-icon" />
    <script src="/script.js" defer></script>
  </head>
  <body>
    <main>
      <h1>Round 2: Obstacle</h1>

      <!-- Just for testing -->
      <section class="test-nav">
        <a href="/warmup-player">Back</a>
        <a href="/acceleration-player">Next</a>
      </section>
      <section class="question-score-timer">
        <section class="image">
          <img src="/images/challenge.jpg" />
          <ul>
            <li><span id="pic1"></span></li>
            <li><span id="pic2"></span></li>
            <li><span id="pic3"></span></li>
            <li><span id="pic4"></span></li>
            <li><span id="pic5"></span></li>
          </ul>
        </section>
        <section class="word" id="player-hori">
          <p>The obstacle has 5 letters</p>
          <ul>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li>`<p class="no">1</p></li>
          </ul>
          <ul>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li>`<p class="no">2</p></li>
          </ul>
          <ul>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li>`<p class="no">3</p></li>
          </ul>
          <ul>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li><p>r</p></li>
            <li>`<p class="no">4</p></li>
          </ul>
        </section>
      </section>

      <section class="answer-record">
        <p class="question-bar">Question</p>
        <input
          type="text"
          placeholder="Enter your answer here"
          class="answer-box"
        />
      </section>

      <section>
        <button class="answer-btn">Press to answer</button>
      </section>

      <ol class="answer-obstacle">
        <li><p>PLAYER 1</p></li>
        <li><p>PLAYER 2</p></li>
        <li><p>PLAYER 3</p></li>
        <li><p>PLAYER 4</p></li>
      </ol>
    </main>
  </body>
</html>
