<%- include('includes/head') %>
</head>
<body>
    <main>
        <h1>Page not found!</h1>
        <p>Please try again later!</p>
        <p><a class="btn" href="/">Back home!</a></p>
    </main>
<%- include('includes/footer') %>