body {
  background-color: rgb(7, 2, 25);
  background-color: gray;
  text-align: center;
  margin-bottom: 100px;
  flex-wrap: nowrap;
}

header {
  margin: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: top;
  justify-content: space-between;
}

header ul {
  border-radius: 20px;
  list-style-type: none;
  padding: 5px 0 5px 0;
  margin-bottom: 0px;
  border: solid white;
  background-color: white;
  margin-left: 400px;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
}

header li {
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Shrikhand", serif;
  font-size: 20px;
  text-align: center;
  
}

header nav a {
  color: black;
  padding: 4px 8px;
}

header nav a:hover {
  color: white;
  background-color: black;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

header p {
  color: black;
  font-family: "Nunito", sans-serif;
}

#logo {
  color: black;
  font-family: "Nunito", sans-serif;
  text-align: left;
  margin: 0;
  font-size: 36px;
}

#logo:hover {
  text-decoration: none;
}

main {
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 50px;
  height: 700px;
  background-image: url("/images/background.jpg");
  background-position: center;
  background-size: cover;
  /*border-top: 10px solid white;
  border-bottom: 10px solid white;*/
}


/*header input {
  border: 0 solid white;
  font-size: 36px;
  border-radius: 5px;
  padding: 15px 0 15px 0;
}*/

a:hover {
  text-decoration: underline;
}

img {
  border: 5px solid white;
}

footer {
  text-align: left;
  margin-top: -60px;
  margin-bottom: -90px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  
}

footer li {
  margin-left: 20px;
  display: inline;
}

/*footer img {
  width: 70px;
  height: 70px;
  border: none;
} */

footer p {
  font-family: "Shrikhand", serif;
  font-size: 20px;
  text-align: right;
  align-items: center;
  color: black;
  position: relative;
  right: 50px;
  margin-bottom: 0;
}

.answer-btn {
  width: 90rem;
  height: 3rem;
  margin: 2rem 0;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgb(95, 185, 95);
  border-color: rgb(95, 185, 95);
  border-radius: 6px;
}

.answer-btn:hover {
  background-color: rgb(14, 131, 14);
  border-color: rgb(14, 131, 14);
}

.test-nav a{
  padding: 1rem;
  border-radius: 6px;
  background-color: white;
}
