<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/about.css" />
    <script src="/scripts/about.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon1.ico" type="images/x-icon" />
    <title>About | IntelliGame</title>
  </head>
  <body>
    <header>
      <a href="/" id="logo">IntelliGame</a>
      <nav>
        <ul>
          <li><a href="/about" class="about">About</a></li>
          <li><a href="/about">Explore</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="user-stories">
        <h2>USER STORIES</h2>
        <ul>
          <p>
            As students who want to participate in a contest that challenges
            their knowledge across various fields, we want to create a dedicated
            platform where they can compete with our peers. There are three
            kinds of users:
          </p>
          <li>
            <span>Player:</span> Users can enter contest rooms by simply
            entering a password, without the need for account registration. They
            can interact with the contest interface using keyboard and mouse
            inputs, including signaling to the MC.
          </li>
          <li>
            <span>Master of Ceremonies:</span> Responsible for reading questions
            from the screen during contests, the MC doesn't require any
            additional actions. In online matches, the MC can also serve as a
            technician.
          </li>
          <li>
            <span>Technician:</span> This role involves technical tasks such as
            inputting and uploading questions, selecting questions to display,
            and managing the countdown timer for answering questions. With the
            extension feature for server management, technicians will require
            accounts to access their question banks and initiate matches without
            affecting other servers.
          </li>
        </ul>
      </section>

      <section id="motivation">
        <h2>MOTIVATION</h2>
        <ul>
          <li>
            In our country, "Road to Mount Olympia" (RtMO) is a top-rated game
            show tailored for high school students. Established in 1999 by VTV -
            Vietnam Television, the national broadcaster of Vietnam, it offers
            an annual opportunity for 144 Grade 11 contestants to demonstrate
            their knowledge to millions of viewers nationwide. The grand prize
            for the highest winner every year is a full-ride scholarship to
            Swinburne University of Technology and 50,000 USD for living
            expenses. We have always been big fans of this TV program and dreamt
            of participating as contestants. Unfortunately, despite our tireless
            efforts to prepare ourselves, due to several circumstances, our
            dream never came true. Nevertheless, we do not give up; now as
            bachelor students, with the spirit of "sharing is caring," we have
            decided to develop a website that simulates RtMO's format. Through
            this initiative, we aim to assist future generations in realizing
            their ambitions of taking part in such a prestigious show,
            leveraging our skills to contribute to their success partly. You
            might want to read about the contest here:
            <a
              href="https://english.vtv.vn/tv-show/new-features-of-the-24th-edition-of-road-to-mount-olympia-20231023163023165.htm"
              id="VTV"
              >New features of the 24th edition of "Road to Mount Olympia</a
            >
          </li>
        </ul>
      </section>

      <a class="details">View more details</a>
    </main>

    <footer>
      <ul>
        <li>
          <!--<a href="https://www.facebook.com/"
            ><img src="/images/facebook_1384005.png"
          /></a>-->
        </li>
        <li>
          <!--<a href="https://www.facebook.com/"
            ><img src="/images/insta.png"
          /></a>-->
        </li>
        <li>
          <!--<a href="https://www.facebook.com/"
            ><img src="/images/youtube-512.webp"
          /></a>-->
        </li>
      </ul>
      <p>Orbital 2024 - 2P1G5</p>
    </footer>
  </body>
</html>
