.question-bar {
  margin: 0.5rem 0;
}

/* Properties for the container of an image/video */
#question-content {
  width: 70rem;
  height: 30rem;
  border-radius: 6px;
  margin-bottom: 2rem;
  background-color: blueviolet;
}

.acceleration {
  margin: 1rem;
}

#answer-record {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

#accel-record {
  display: inline;
  width: 90rem;
  margin: 0.5rem auto;
  padding: 0.5rem 0;
  background-color: aqua;
}

#accel-time,
#accel-player-answer {
  font-weight: 700;
  color: red;
}

.h1-acceleration-player-mc {
  margin-bottom: 4rem;
}
