<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Warm-up | IntelliGame</title>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/all-rounds.css" />
    <link rel="stylesheet" href="/styles/warmup.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon1.ico" type="images/x-icon" />
  </head>
  <body>
    <!-- <header>
      <a href="index.html" id="logo">IntelliGame</a>
      <nav>
        <ul>
          <li><a href="about.html">About</a></li>
          <li><a href="about.html">Explore</a></li>
        </ul>
      </nav>
    </header> -->

    <main>
      <h1 class='h1-warmup-player-mc'>Round 1: Warm-up</h1>
      <section class="question-score-timer warmup">
        <p class="question-board">Question</p>

        <div class="player-score">
          <div class="name-and-score">
            <h3>Nhat Minh</h3>
            <p>1000</p>
          </div>
          <div class="name-and-score">
            <h3>Huy Tung</h3>
            <p>1000</p>
          </div>
          <div class="name-and-score">
            <h3>Minh Nhat</h3>
            <p>1000</p>
          </div>
          <div class="name-and-score">
            <h3>Tung Huy</h3>
            <p>1000</p>
          </div>
        </div>
      </section>

      <section class="stats">
        <div>
          <h2>Player to answer</h2>
          <p>Nhat Minh</p>
        </div>

        <div>
          <h2>Turn</h2>
          <p><span>1</span>/3</p>
        </div>

        <div>
          <h2>Question Number</h2>
          <p><span>0</span>/<span>8</span></p>
        </div>
      </section>

      <p class="mc-answer">Answer: <span><strong id="warmup-answer">Kiwi</strong></span></p>

      <!-- Just for testing -->
      <section class="test-nav">
        <a href="/">Back</a>
        <a href="/obstacle-mc">Next</a>
      </section>
    </main>

    <!-- <footer>
      <ul>
        <li>
          <a href="https://www.facebook.com/"
            ><img src="/images/facebook_1384005.png"
          /></a>
        </li>
        <li>
          <a href="https://www.facebook.com/"
            ><img src="/images/insta.png"
          /></a>
        </li>
        <li>
          <a href="https://www.facebook.com/"
            ><img src="/images/youtube-512.webp"
          /></a>
        </li>
      </ul>
      <p>Orbital 2024 - 2P1G5</p>
    </footer> -->
  </body>
</html>
