body {
    margin-bottom: 8rem;
}

#player-score-acceleration-technician {
  margin-top: 6rem;
  margin-bottom: 5rem;
  margin-left: 4rem;
}

#player-score-acceleration-technician div {
  margin-bottom: 3rem;
  width: 80rem;
}

#question-score-timer-technician {
    margin-top: 5rem;
}

#next-question-acceleration {
    display: inline-block;
    padding: 1rem;
    font-size: 28px;
}
