img {
  width: 600px;
  height: 400px;
  display: block;
  text-align: left;
}

.image {
  margin: 50px;
  margin-top: 100px;
}

/*ul {
  margin-top: 50px;
  margin-left: -90px;
}*/

li {
  display: inline;
}

.image ul {
  display: grid;
  grid-template-columns: repeat(2, 19rem);
  grid-template-rows: repeat(2, 12.7rem);
  justify-content: center;
  gap: 0rem;
  position: relative;
  left: -43px;
  top: -331px
}

.image span {
  border: 10px solid black;
  padding: 85px 145px;
  position: relative;
  background: darkgray;
}

.question-score-timer {
  margin-bottom: -27rem;
}

/*.question-score-timer .mc .image {
  margin-top: 10rem
}*/

#pic1 {
  display: sub;
}

/*
#pic2 {
  top: -365px;
  left: 42px;
}

#pic3 {
  top: -162px;
  left: -568px;
}

#pic4 {
  top: -162px;
  left: -576px;
} */

#pic5 {
  left: 140px;
  top: -300px
}

/*.word {
  position: relative;
  top: -510px;
  left: 710px;
  width: 50rem;
  margin-bottom: -450px;
}*/

.word {
  position: relative;
  top: -13rem;
  right: 5rem;
}

.word ul {
  display: grid;
  grid-template-columns: repeat(18, 2.5rem);
  margin-top: 3rem;
}

.word p {
  color: white;
  font-size: 36px;
  font-family: "Nunito", sans-serif;
}

.word ul p {
  display: inline;
  margin-left: 10px;
}

.word ul {
  margin-bottom: 0px;
}

.word li p{
  padding: 2px 10px;
  margin: 0px;
  border: 5px solid black;
  border-radius: 50px;
  background: darkgray;
  font-size: 18px;
  color: white;
}

#player-hori ul p {
  color: darkgray;
}

#player-hori .no {
  color: black;
}

.word .no {
  border-radius: 50px;
  border: 5px solid darkgray;
  padding: 2px 11px;
  color: black;
  background-color: white;
  font-size: 22px;
  margin-left: 20px;
}

.answer-record {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.answer-box {
  margin-bottom: 5rem;
}

.question-bar {
  width: 90rem
}

.answer-obstacle {
  list-style-type: decimal;
  margin-top: 100px;
  margin-bottom: 150px;
}

.answer-obstacle p {
  display: inline;
  margin: 2rem;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  border: 10px solid darkgray;
  background-color: white;
  border-radius: 10px;
  padding: 2rem 2rem;
  color: black;
}

.answer-obstacle li a:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}

#ans {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 250px;
  margin-top: 0;
  margin-bottom: 0;
}

#ans p {
  font-size: 36px;
  font-family: "Nunito", sans-serif;
  border: 10px solid darkgrey;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
}

#word-mc {
  margin-top: 120px;
}

#answer-btn-mc-obstacle {
  margin-bottom: -100rem;
}

.answer-btn {
  margin-top: 1rem;
}