<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finishing | IntelliGame</title>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/all-rounds.css" />
    <link rel="stylesheet" href="/styles/finish/finish.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon1.ico" type="images/x-icon" />
  </head>
  <body>
    <main>
      <h1 class="h1-finish-player-mc">Round 4: Finishing</h1>
      <section class="question-score-timer" id="finishing">
        <p class="question-board">Question</p>

        <div id="player-score">
          <div class="name-and-score">
            <h3>Nhat Minh</h3>
            <p>1000</p>
          </div>
          <div class="name-and-score">
            <h3>Huy Tung</h3>
            <p>1000</p>
          </div>
          <div class="name-and-score">
            <h3>Minh Nhat</h3>
            <p>1000</p>
          </div>
          <div class="name-and-score">
            <h3>Tung Huy</h3>
            <p>1000</p>
          </div>
        </div>
      </section>

      <section id="question-points">
        <p><span>20</span> points</p>
        <p><span>30</span> points</p>
        <p><span>30</span> points</p>
      </section>

      <section class="stats">
        <div>
          <h2>Main Player</h2>
          <p>Nhat Minh</p>
        </div>

        <p class="timer">15</p>
      </section>

      <section>
        <button class="answer-btn">Press to answer</button>
      </section>

      <!-- Just for testing -->
      <section class="test-nav">
        <a href="/acceleration-player">Back</a>
        <a href="/">Next</a>
      </section>
    </main>
  </body>
</html>
