<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acceleration | IntelliGame</title>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/all-rounds.css" />
    <link rel="stylesheet" href="/styles/acceleration.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon1.ico" type="images/x-icon" />
  </head>
  <body>
    <main>
      <h1 class="h1-acceleration-player-mc">Round 3: Acceleration</h1>

      <section class="question-score-timer acceleration">
        <p class="timer">40</p>
        <div>
          <p class="question-bar">Question</p>
          <div id="question-content">(Question content)</div>
        </div>
      </section>

      <section id="answer-record">
        <div id="accel-record">
          At <span id="accel-time">1.777</span>s, your answer is:
          <span id="accel-player-answer">Kiwi</span>
        </div>
        <input
          type="text"
          placeholder="Enter your answer here"
          class="answer-box"
        />
      </section>

      <!-- Just for testing -->
      <section class="test-nav">
        <a href="/obstacle-player">Back</a>
        <a href="/finish-player">Next</a>
      </section>
    </main>
  </body>
</html>
